.fab {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }

  .fab:hover {
      opacity: 0.7;
  }

  .fab-facebook {
    background: white;
    color: #3B5998;
  }
