<div [@routerTransition]>
    <div class="row">
        <div class="card" style="width: 50%;">
            <h5 class="card-title">Sou cliente novo da Graffi</h5>
            <div class="card-body">
                <form>
                    <input class="form-control form-control-lg" type="text" placeholder="Digite seu nome completo">
                    <input class="form-control form-control-lg" type="text" placeholder="Digite seu E-mail">
                    <input class="form-control form-control-lg" type="text" placeholder="Digite sua senha">
                    <input class="form-control form-control-lg" type="text" placeholder="Digite novamente seu E-mail">
                    <button type="button" class="btn btn-dark btn-lg btn-block">Quero me cadastrar na Graffi</button>
                </form>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Quero receber ofertas excluisvas e novidades
                        por e-mail</label>
                </div>
                <p class="text-center">
                    Ao cadastrar você concorda com nossos <br>
                    <span class="font-weight-bold">Termos de Uso</span> e nossa <span class="font-weight-bold">Política
                        de Privacidade</span>
                </p>
            </div>
        </div>
        <div class="card" style="width: 50%;">
            <h5 class="card-title">Já sou cadastrado</h5>
            <div class="card-body">
                <form>
                    <input class="form-control form-control-lg" type="text" placeholder="Digite seu nome completo">
                    <input class="form-control form-control-lg" type="text" placeholder="Digite seu E-mail">
                    <input class="form-control form-control-lg" type="text" placeholder="Digite sua senha">
                    <input class="form-control form-control-lg" type="text" placeholder="Digite novamente seu E-mail">
                    <button type="button" class="btn btn-dark btn-lg btn-block">Quero me cadastrar na Graffi</button>
                </form>
            </div>
        </div>

        <div class="card" style="width: 50%;">
            <h5 class="card-title">Acesse com as redes sociais</h5>
            <div class="card-body">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-facebook-f"></a>
            </div>
        </div>
    </div>
</div>
